In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('train.csv')
age_gender_df = pd.read_csv('age_gender_info.csv')
test_df = pd.read_csv('test.csv')

In [3]:
train_df = pd.DataFrame(train_df)
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [4]:
train_df.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [5]:
train_df = train_df.drop_duplicates()
test_df = test_df.drop_duplicates()

In [6]:

# train_df['임대보증금'] = train_df['임대보증금'].astype(float)

# ValueError: could not convert string to float: '-'
# 데이터 중에 숫자, NaN 말고 "-" 기호가 들어 있음. 형변환을 위해 변경 필요.

import re # 정규표현식
arr = []
arr2 = []
for i,j in train_df[['임대보증금','임대료']].values:
    arr.append(re.sub(r"[0-9]","",str(i)))
    arr2.append(re.sub(r"[0-9]","",str(j)))
print(set(arr))
print(set(arr2))

{'', 'nan', '-'}
{'', 'nan', '-'}

In [7]:
train_df.loc[train_df['임대보증금'] == '-','임대보증금'] = np.nan
train_df.loc[train_df['임대료'] == '-','임대료'] = np.nan

train_df['임대보증금'] = train_df['임대보증금'].astype(float)
train_df['임대료'] = train_df['임대료'].astype(float)

In [8]:
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [9]:
train_df.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           304
임대료                             313
도보 10분거리 내 지하철역 수(환승노선 수 반영)    155
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [10]:
deposit = train_df[train_df['임대보증금'].isnull()] # 304줄

In [11]:
train_df[train_df['임대료'].isnull()] # 313줄

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [12]:
deposit_type = deposit.groupby('공급유형')
deposit_type.count()

,단지코드,총세대수,임대건물구분,지역,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
공급유형,,,,,,,,,,,,,,
공공분양,7,7,7,7,7,7,7,7,0,0,0,7,7,7
국민임대,8,8,8,8,8,8,8,8,0,0,8,8,8,8
임대상가,285,285,285,285,285,285,285,285,0,0,213,285,285,285
행복주택,4,4,4,4,4,4,4,4,0,0,4,4,4,4

In [13]:
dt = dict(list(deposit_type))

In [14]:
# 행복주택 결측치 채우기 - 강원도 4건
a = dt['행복주택']
a['임대보증금'] = '14379000'
a['임대료'] = '72760'
a

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2680,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,14379000,72760,0.0,3.0,338.0,345.0
2681,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,14379000,72760,0.0,3.0,338.0,345.0
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,14379000,72760,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,14379000,72760,0.0,3.0,338.0,345.0

In [15]:
# 국민임대 결측치 채우기 - 부산광역시 5건, 대구광역시 3건
b = dt['국민임대']
busan = b[0:5]
busan['임대보증금']=24829040
busan['임대료']=220959
daegu = b[5:]
daegu['임대보증금']=21522460
daegu['임대료']=185410
b=pd.concat([busan,daegu])
b

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2547,C1326,1934,아파트,부산광역시,국민임대,24.72,472,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,부산광역시,국민임대,24.79,104,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,부산광역시,국민임대,26.83,590,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,21522460,185410,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,21522460,185410,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,21522460,185410,0.0,8.0,664.0,744.0

In [27]:
train_df=pd.concat([train_df,a,b])
# train_df = train_df.drop([2680,2681,2682,2683], axis=0)
# train_df = train_df.drop([2547,2548,2549,2550,2551], axis=0)
# train_df = train_df.drop([2906,2907,2908], axis=0)
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,24829040,220959,0.0,4.0,1670.0,1153.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,21522460,185410,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,21522460,185410,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,21522460,185410,0.0,8.0,664.0,744.0

In [29]:
train_df[train_df['임대보증금'].isnull()] # 292줄로 줄었음!!!

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0

In [30]:
train_df[train_df['임대료'].isnull()] # 301줄로 줄었음!!!!

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0

In [35]:
monthly = train_df[train_df['임대료'].isnull()]

In [36]:
monthly_type = monthly.groupby('공급유형')
monthly_type.count()

,단지코드,총세대수,임대건물구분,지역,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
공급유형,,,,,,,,,,,,,,
공공분양,7,7,7,7,7,7,7,7,0,0,0,7,7,7
임대상가,285,285,285,285,285,285,285,285,0,0,213,285,285,285
장기전세,9,9,9,9,9,9,9,9,9,0,9,9,9,9

In [37]:
mt = dict(list(monthly_type))

In [43]:
# 장기전세 임대료 결측치 채우기 - 서울특별시 9건
d = mt['장기전세']
d['임대료']=0
d

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2043,C1397,370,아파트,서울특별시,장기전세,23.32,51,9.0,A,87444000.0,0,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,서울특별시,장기전세,46.79,4,9.0,A,174888000.0,0,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,서울특별시,장기전세,46.91,69,9.0,A,174888000.0,0,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,서울특별시,장기전세,51.96,24,9.0,A,194562000.0,0,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000.0,0,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000.0,0,0.0,3.0,1590.0,1595.0
2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000.0,0,0.0,3.0,673.0,645.0
2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000.0,0,0.0,3.0,673.0,645.0
2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000.0,0,0.0,3.0,673.0,645.0

In [46]:
train_df=pd.concat([train_df,d])

In [47]:
# train_df = train_df.drop([2043,2044,2045,2046,2047,2048,2100,2101,2102], axis=0)
train_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000.0,0,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000.0,0,0.0,3.0,1590.0,1595.0
2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000.0,0,0.0,3.0,673.0,645.0
2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000.0,0,0.0,3.0,673.0,645.0
2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000.0,0,0.0,3.0,673.0,645.0

In [48]:
train_df.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           292
임대료                             292
도보 10분거리 내 지하철역 수(환승노선 수 반영)    155
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [49]:
train_df.to_csv('new_train.csv')

----------------------------------------------------------------------------------------------------------

## 각 지역별 임대료/보증금 평균값을 찾자

### 행복주택
- 한국토지주택공사_(행복주택)마이홈포털 기존임대주택 목록

In [17]:
haengbok_df = pd.read_csv('행복주택.csv', encoding='cp949')
haengbok_df

,임대종류,광역시도,시군구,도로명주소,단지명,세대수,주택유형,임대사업자,준공일자,건물형태,난방방식,승강기설치여부,주차수,형명,공급면적(전용),공급면적(공용),임대보증금,월임대료,전환보증금
0,행복주택,서울특별시,동대문구,서울특별시 동대문구 장안벚꽃로 317,서울휘경 행복주택,200,아파트,LH서울,2021-04-30,NaN,NaN,NaN,0,14,14.97,10.5259,31926000,122380,12000000
1,행복주택,서울특별시,동대문구,서울특별시 동대문구 장한로27가길 37,동대문더퍼스트데시앙(장안동연립단지),23,아파트,SH공사,2019-10-22,계단식,개별난방,전체동 설치,509,59A,59.80,22.3600,91200000,418000,0
2,행복주택,서울특별시,동대문구,서울특별시 동대문구 장한로27가길 37,동대문더퍼스트데시앙(장안동연립단지),23,아파트,SH공사,2019-10-22,계단식,개별난방,전체동 설치,509,59B,59.87,23.1000,91200000,418000,0
3,행복주택,서울특별시,동대문구,서울특별시 동대문구 장한로27가길 37,동대문더퍼스트데시앙(장안동연립단지),23,아파트,SH공사,2019-10-22,계단식,개별난방,전체동 설치,509,59C,59.99,22.4400,91200000,418000,0
4,행복주택,서울특별시,동대문구,서울특별시 동대문구 천호대로55길 11,힐스테이트 청계(대농신안),114,아파트,SH공사,2018-06-29,복도식,개별난방,전체동 설치,903,40,40.60,22.0800,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,행복주택,제주특별자치도,서귀포시,제주특별자치도 서귀포시 서호중앙로 56-13,서귀포혁신도시 LH3단지,200,아파트,LH제주,2019-01-31,NaN,NaN,NaN,0,36,36.92,15.6797,34800000,151200,18000000
1116,행복주택,제주특별자치도,서귀포시,제주특별자치도 서귀포시 장수로 115,서귀포서홍행복주택,90,아파트,LH제주,2020-06-19,NaN,NaN,NaN,0,16,16.64,7.2411,16800000,80850,4000000
1117,행복주택,제주특별자치도,서귀포시,제주특별자치도 서귀포시 장수로 115,서귀포서홍행복주택,90,아파트,LH제주,2020-06-19,NaN,NaN,NaN,0,26,26.52,11.5406,25480000,126550,13000000
1118,행복주택,제주특별자치도,서귀포시,제주특별자치도 서귀포시 장수로 115,서귀포서홍행복주택,90,아파트,LH제주,2020-06-19,NaN,NaN,NaN,0,26,26.68,11.6102,26000000,127340,13000000
1119,행복주택,제주특별자치도,서귀포시,제주특별자치도 서귀포시 장수로 115,서귀포서홍행복주택,90,아파트,LH제주,2020-06-19,NaN,NaN,NaN,0,36,36.72,15.9793,36000000,177210,21000000

In [18]:
haengbok_mean = haengbok_df.groupby('광역시도').mean()

In [19]:
# haengbok_mean = haengbok_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
haengbok_mean

,세대수,주차수,공급면적(전용),공급면적(공용),임대보증금,월임대료,전환보증금
광역시도,,,,,,,
강원도,235.700000,9.400000,29.941200,21.590920,1.437900e+07,72760.000000,5.000000e+06
경기도,774.683432,48.423077,30.720758,17.381072,4.362366e+07,178785.088757,2.017929e+07
경상남도,538.000000,365.719298,29.079719,16.438000,2.361684e+07,116940.350877,1.054386e+07
경상북도,233.333333,95.666667,26.807778,13.839622,1.592222e+07,91061.111111,6.444444e+06
광주광역시,430.745455,175.836364,29.004909,15.964013,2.837187e+07,123704.727273,1.005455e+07
대구광역시,488.000000,194.760000,27.699600,15.456912,2.630320e+07,140334.000000,1.372000e+07
대전광역시,278.400000,0.000000,26.706000,14.191320,2.704800e+07,134028.666667,1.346667e+07
부산광역시,418.850000,229.350000,28.121345,16.012190,3.222270e+07,154103.550000,1.686411e+07
서울특별시,187.628931,1001.908805,40.264387,19.248024,7.215213e+07,254992.421384,1.666667e+06
세종특별자치시,870.000000,190.200000,34.184000,19.052640,2.806690e+07,121714.000000,1.170000e+07
울산광역시,462.571429,335.571429,26.568571,15.375771,2.510143e+07,142428.571429,1.485714e+07
인천광역시,744.827586,8.155172,29.852376,16.873609,3.352628e+07,141388.103448,1.403448e+07
전라남도,286.388889,5.944444,28.210278,13.638972,1.852750e+07,112931.666667,1.000000e+07
전라북도,505.636364,0.000000,27.181818,14.535195,1.665845e+07,93522.272727,6.272727e+06
제주특별자치도,81.790323,57.725806,28.810832,32.719192,3.082798e+07,131511.290323,1.437097e+07
충청남도,520.347826,127.565217,28.666304,15.399017,2.501652e+07,138694.565217,1.410870e+07
충청북도,474.656250,3.750000,27.834688,15.755153,1.843806e+07,108128.125000,9.187500e+06

### 국민임대
- 한국토지주택공사_(국민임대)마이홈포털 기존임대주택 목록

In [20]:
kookmin_df = pd.read_csv('국민임대.csv', encoding='cp949')
kookmin_df

,임대종류,광역시도,시군구,도로명주소,단지명,세대수,주택유형,임대사업자,준공일자,건물형태,난방방식,승강기설치여부,주차수,형명,공급면적(전용),공급면적(공용),임대보증금,월임대료,전환보증금
0,국민임대,서울특별시,중구,서울특별시 중구 만리재로27길 69,만리동 예술인 협동조합형 공동주택,29,다세대주택,SH공사,2015-03-31,혼합식,개별난방,전체동 설치,22,22A,22.180,11.5300,35488000,15000,0
1,국민임대,서울특별시,중구,서울특별시 중구 만리재로27길 69,만리동 예술인 협동조합형 공동주택,29,다세대주택,SH공사,2015-03-31,혼합식,개별난방,전체동 설치,22,22A`,22.040,11.1800,35264000,15000,0
2,국민임대,서울특별시,중구,서울특별시 중구 만리재로27길 69,만리동 예술인 협동조합형 공동주택,29,다세대주택,SH공사,2015-03-31,혼합식,개별난방,전체동 설치,22,22A``,22.180,11.5300,35488000,15000,0
3,국민임대,서울특별시,중구,서울특별시 중구 만리재로27길 69,만리동 예술인 협동조합형 공동주택,29,다세대주택,SH공사,2015-03-31,혼합식,개별난방,전체동 설치,22,45B,45.000,21.3700,72000000,24000,0
4,국민임대,서울특별시,중구,서울특별시 중구 만리재로27길 69,만리동 예술인 협동조합형 공동주택,29,다세대주택,SH공사,2015-03-31,혼합식,개별난방,전체동 설치,22,45B`,45.000,21.3700,72000000,24000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4048,국민임대,제주특별자치도,서귀포시,제주특별자치도 서귀포시 안덕면 화순중앙로54번길 3,마음에온화순,20,연립주택,제주특별자치도개발공사,2021-10-15,혼합식,개별난방,전체동 설치,18,39,39.843,18.3940,13384000,214560,6000000
4049,국민임대,제주특별자치도,서귀포시,제주특별자치도 서귀포시 중앙로 198-9,서귀포동홍 휴먼시아6단지,602,아파트,LH제주,2008-06-20,복도식,개별가스난방,전체동 설치,491,39,39.630,16.5290,13007000,91660,6000000
4050,국민임대,제주특별자치도,서귀포시,제주특별자치도 서귀포시 중앙로 198-9,서귀포동홍 휴먼시아6단지,602,아파트,LH제주,2008-06-20,복도식,개별가스난방,전체동 설치,491,46,46.900,18.8274,18581000,132520,14000000
4051,국민임대,제주특별자치도,서귀포시,제주특별자치도 서귀포시 중앙로 198-9,서귀포동홍 휴먼시아6단지,602,아파트,LH제주,2008-06-20,복도식,개별가스난방,전체동 설치,491,47,47.410,19.0321,18581000,132520,14000000
4052,국민임대,제주특별자치도,서귀포시,제주특별자치도 서귀포시 중앙로 198-9,서귀포동홍 휴먼시아6단지,602,아파트,LH제주,2008-06-20,복도식,개별가스난방,전체동 설치,491,51,51.930,20.8466,21678000,169710,20000000

In [21]:
kookmin_mean = kookmin_df.groupby('광역시도').mean()

In [22]:
# kookmin_mean = kookmin_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
kookmin_mean

,세대수,주차수,공급면적(전용),공급면적(공용),임대보증금,월임대료,전환보증금
광역시도,,,,,,,
강원도,380.172775,297.586387,44.847331,19.112623,1.662225e+07,161138.219895,1.616230e+07
경기도,909.953368,689.070812,44.321828,19.986017,2.709594e+07,214244.274611,2.433195e+07
경상남도,674.245536,546.120536,44.283456,19.426456,1.878854e+07,156693.973214,1.728763e+07
경상북도,411.279817,344.683486,46.560598,18.483291,1.597794e+07,125649.220183,1.174312e+07
광주광역시,722.678571,637.614286,46.025930,19.455877,2.435766e+07,139743.857143,1.312857e+07
대구광역시,893.803738,602.009346,43.393551,19.267869,2.152246e+07,185410.000000,2.105607e+07
대전광역시,860.050000,491.210000,44.991747,19.518870,2.407862e+07,167979.800000,1.831000e+07
부산광역시,778.851064,697.478723,45.204298,22.472548,2.482904e+07,220959.042553,2.937255e+07
서울특별시,284.500000,790.865672,50.501859,20.678774,4.536249e+07,297321.467662,7.263682e+05
세종특별자치시,781.565217,375.043478,39.218835,17.704500,1.526752e+07,164152.173913,1.730435e+07
울산광역시,656.830189,531.301887,45.608679,20.211874,2.184945e+07,186366.603774,2.032075e+07
인천광역시,1056.663265,235.387755,43.906122,20.491149,2.465103e+07,209656.224490,2.193878e+07
전라남도,460.401274,405.178344,44.216325,19.453757,1.553910e+07,123620.573248,1.129936e+07
전라북도,512.502415,398.425121,43.828188,20.791024,1.632849e+07,114852.560386,8.521739e+06
제주특별자치도,343.303797,217.607595,43.311454,15.898376,1.496003e+07,138060.886076,1.179747e+07
충청남도,529.646226,265.490566,43.145142,18.800777,1.667505e+07,130309.811321,1.241981e+07
충청북도,550.159574,331.946809,42.981408,17.780530,1.459395e+07,129262.340426,1.147872e+07

### 장기전세
- 한국토지주택공사_(장기전세)마이홈포털 기존임대주택 목록

In [32]:
jeonse_df = pd.read_csv('장기전세.csv', encoding='cp949')
jeonse_df

,임대종류,광역시도,시군구,도로명주소,단지명,세대수,주택유형,임대사업자,준공일자,건물형태,난방방식,승강기설치여부,주차수,형명,공급면적(전용),공급면적(공용),임대보증금,월임대료,전환보증금
0,장기전세,서울특별시,성동구,서울특별시 성동구 동일로 237,서울숲아이파크(임대),34,아파트,SH공사,2008-12-22,계단식,개별가스난방,전체동 설치,286,55,55.88,18.0500,95760000,0,0
1,장기전세,서울특별시,성동구,서울특별시 성동구 동일로 237,서울숲아이파크(임대),34,아파트,SH공사,2008-12-22,계단식,개별가스난방,전체동 설치,286,64,64.21,20.1900,236250000,0,0
2,장기전세,서울특별시,성동구,서울특별시 성동구 동일로 237,서울숲아이파크(임대),34,아파트,SH공사,2008-12-22,계단식,개별가스난방,전체동 설치,286,75,75.51,25.3500,119960000,0,0
3,장기전세,서울특별시,성동구,서울특별시 성동구 동일로 237,서울숲아이파크(임대),34,아파트,SH공사,2008-12-22,계단식,개별가스난방,전체동 설치,286,84,84.87,27.5700,133870000,0,0
4,장기전세,서울특별시,성동구,서울특별시 성동구 자동차시장1길 14,와이엠프라젠,5,아파트,SH공사,2007-10-15,계단식,개별가스난방,전체동 설치,86,45,45.33,15.1240,63820000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,장기전세,경기도,하남시,경기도 하남시 미사강변중앙로 100,하남미사 A26BL,588,아파트,LH서울,NaN,NaN,지역난방,NaN,539,51,51.39,21.5652,183228000,0,0
2124,장기전세,경기도,하남시,경기도 하남시 미사강변중앙로 100,하남미사 A26BL,588,아파트,LH서울,NaN,NaN,지역난방,NaN,539,59,59.76,25.0776,215057000,0,0
2125,장기전세,경기도,하남시,경기도 하남시 미사강변중앙로 100,하남미사 A26BL,588,아파트,LH서울,NaN,NaN,지역난방,NaN,539,59,59.80,25.0944,215057000,0,0
2126,장기전세,경기도,하남시,경기도 하남시 신우실로 15,하남감일 스윗시티2단지,307,아파트,LH서울,2021-03-15,계단식,지역난방,전체동 설치,0,74,74.93,28.2964,319200000,0,0
2127,장기전세,경기도,하남시,경기도 하남시 신우실로 15,하남감일 스윗시티2단지,307,아파트,LH서울,2021-03-15,계단식,지역난방,전체동 설치,0,84,84.95,32.0804,361600000,0,0

In [33]:
jeonse_mean = jeonse_df.groupby('광역시도').mean()

In [34]:
# jeonse_mean = jeonse_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
jeonse_mean

              임대보증금           월임대료
광역시도
경기도    1.922608e+08       0.000000
대구광역시  3.909656e+06  109493.435115
서울특별시  2.851562e+08       0.000000
인천광역시  5.083200e+07       0.000000