In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('train.csv')
age_gender_df = pd.read_csv('age_gender_info.csv')
test_df = pd.read_csv('test.csv')

In [3]:
test_df = pd.DataFrame(test_df)
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,-,-,0.0,1.0,467.0
1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [4]:
test_df.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

In [5]:
test_df = test_df.drop_duplicates()

In [6]:

# train_df['임대보증금'] = train_df['임대보증금'].astype(float)

# ValueError: could not convert string to float: '-'
# 데이터 중에 숫자, NaN 말고 "-" 기호가 들어 있음. 형변환을 위해 변경 필요.

import re # 정규표현식
arr = []
arr2 = []
for i,j in train_df[['임대보증금','임대료']].values:
    arr.append(re.sub(r"[0-9]","",str(i)))
    arr2.append(re.sub(r"[0-9]","",str(j)))
print(set(arr))
print(set(arr2))

{'', 'nan', '-'}
{'', 'nan', '-'}

In [7]:
test_df.loc[test_df['임대보증금'] == '-','임대보증금'] = np.nan
test_df.loc[test_df['임대료'] == '-','임대료'] = np.nan

test_df['임대보증금'] = test_df['임대보증금'].astype(float)
test_df['임대료'] = test_df['임대료'].astype(float)

In [8]:
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,189840.0,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,249930.0,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000.0,249930.0,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000.0,249930.0,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,NaN,NaN,0.0,1.0,467.0
1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000.0,106400.0,0.0,2.0,300.0
1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000.0,106400.0,0.0,2.0,300.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000.0,144600.0,0.0,2.0,300.0
1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000.0,166500.0,0.0,2.0,300.0

In [9]:
test_df.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           120
임대료                             120
도보 10분거리 내 지하철역 수(환승노선 수 반영)     34
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

In [12]:
test_df[test_df.자격유형.isnull()]
test_df.loc[test_df['단지코드'] == 'C2411'] # A로 변경
test_df.loc[test_df['단지코드'] == 'C2253'] # C로 변경
test_df.loc[test_df.단지코드.isin(['C2411']) & test_df.자격유형.isnull(), '자격유형'] = 'A'
test_df.loc[test_df.단지코드.isin(['C2253']) & test_df.자격유형.isnull(), '자격유형'] = 'C'

In [13]:
test_df.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           120
임대료                             120
도보 10분거리 내 지하철역 수(환승노선 수 반영)     34
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
dtype: int64

In [14]:
deposit = test_df[test_df['임대보증금'].isnull()] # 120줄

In [15]:
monthly = test_df[test_df['임대료'].isnull()] # 동일하게 120줄

In [16]:
deposit_type = deposit.groupby('공급유형')
deposit_type.count()

,단지코드,총세대수,임대건물구분,지역,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
공급유형,,,,,,,,,,,,,
영구임대,4,4,4,4,4,4,4,4,0,0,4,4,4
임대상가,112,112,112,112,112,112,112,112,0,0,97,112,112
행복주택,4,4,4,4,4,4,4,4,0,0,4,4,4

In [17]:
dt = dict(list(deposit_type))

In [18]:
# 행복주택 결측치 채우기 - 대전광역시 2건, 강원도 2건
a = dt['영구임대']
daejeon = a[:2]
daejeon['임대보증금'] = 6283653
daejeon['임대료'] = 83260
kangwon = a[2:]
kangwon['임대보증금'] = 6500126
kangwon['임대료'] = 88687
a = pd.concat([daejeon,kangwon])
a

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,6283653,83260,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,6283653,83260,2.0,5.0,428.0
1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,6500126,88687,0.0,1.0,40.0
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,6500126,88687,0.0,1.0,40.0

In [19]:
# 행복주택 결측치 채우기 - 경상남도 4건
b = dt['행복주택']
b['임대보증금'] = 23616840
b['임대료'] = 116940
b

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
1014,C1267,675,아파트,경상남도,행복주택,16.94,50,38.0,L,23616840,116940,0.0,1.0,467.0
1015,C1267,675,아파트,경상남도,행복주택,26.85,66,38.0,L,23616840,116940,0.0,1.0,467.0
1016,C1267,675,아파트,경상남도,행복주택,26.85,8,38.0,L,23616840,116940,0.0,1.0,467.0
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,23616840,116940,0.0,1.0,467.0

In [20]:
test_df=pd.concat([test_df,a,b])
test_df = test_df.drop([76,79,1005,1006], axis=0)
test_df = test_df.drop([1014,1015,1016,1017], axis=0)
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,189840.0,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,249930.0,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000.0,249930.0,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000.0,249930.0,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,296780.0,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,C1267,675,아파트,경상남도,영구임대,22.86,14,38.0,C,10876000.0,89230.0,0.0,1.0,467.0
1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000.0,106400.0,0.0,2.0,300.0
1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000.0,106400.0,0.0,2.0,300.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000.0,144600.0,0.0,2.0,300.0
1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000.0,166500.0,0.0,2.0,300.0

In [21]:
deposit = test_df[test_df['임대보증금'].isnull()] # 112줄

In [22]:
deposit_type = deposit.groupby('공급유형')
deposit_type.count()

,단지코드,총세대수,임대건물구분,지역,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
공급유형,,,,,,,,,,,,,
임대상가,112,112,112,112,112,112,112,112,0,0,97,112,112

In [23]:
test_df.to_csv('new_test.csv')

----------------------------------------------------------------------------------------------------------

## 각 지역별 임대료/보증금 평균값을 찾자

### 행복주택
- 한국토지주택공사_(행복주택)마이홈포털 기존임대주택 목록

In [ ]:
haengbok_df = pd.read_csv('행복주택.csv', encoding='cp949')
haengbok_df

In [ ]:
haengbok_mean = haengbok_df.groupby('광역시도').mean()

In [ ]:
# haengbok_mean = haengbok_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
haengbok_mean

### 국민임대
- 한국토지주택공사_(국민임대)마이홈포털 기존임대주택 목록

In [ ]:
kookmin_df = pd.read_csv('국민임대.csv', encoding='cp949')
kookmin_df

In [ ]:
kookmin_mean = kookmin_df.groupby('광역시도').mean()

In [ ]:
# kookmin_mean = kookmin_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
kookmin_mean

### 장기전세
- 한국토지주택공사_(장기전세)마이홈포털 기존임대주택 목록

In [ ]:
jeonse_df = pd.read_csv('장기전세.csv', encoding='cp949')
jeonse_df

In [ ]:
jeonse_mean = jeonse_df.groupby('광역시도').mean()

In [ ]:
# jeonse_mean = jeonse_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
jeonse_mean

### 영구임대
- 한국토지주택공사_(영구임대)마이홈포털 기존임대주택 목록

In [ ]:
younggu_df = pd.read_csv('영구임대.csv', encoding='cp949')
younggu_df

In [ ]:
younggu_mean = younggu_df.groupby('광역시도').mean()

In [ ]:
# younggu_mean = younggu_mean.drop(['세대수','주차수','공급면적(전용)','공급면적(공용)','전환보증금'],axis=1)
younggu_mean