In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train_revised.csv')

In [3]:
dict = {'강원도':10120, '경상남도':10160, '대전광역시':10640, '부산광역시':21600, '제주특별자치도':11320, '충청남도':10000}

In [4]:
region = pd.DataFrame(dict,index=dict.keys()).T
region = region['강원도']
region['경상남도']

10160

In [5]:
# train[train['임대건물구분'] == '상가']

In [6]:
mapping_values = []
for r in train[train['임대건물구분'] == '상가'].values:
    mapping_values.append(r[7] * region[r[5]])

train.loc[train['임대건물구분']=='상가','임대료'] = mapping_values

train[train['임대건물구분'] == '상가'].head()

,Unnamed: 0.1,Unnamed: 0,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
81,81,88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,324852.0,0.0,4.0,117.0,75.0
82,82,91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,730259.2,0.0,4.0,117.0,75.0
92,92,101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,126200.0,NaN,2.0,97.0,62.0
93,93,102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,174000.0,NaN,2.0,97.0,62.0
94,94,104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,228900.0,NaN,2.0,97.0,62.0

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2625 entries, 0 to 2624
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0.1                  2625 non-null   int64
 1   Unnamed: 0                    2625 non-null   int64
 2   단지코드                          2625 non-null   object
 3   총세대수                          2625 non-null   int64
 4   임대건물구분                        2625 non-null   object
 5   지역                            2625 non-null   object
 6   공급유형                          2625 non-null   object
 7   전용면적                          2625 non-null   float64
 8   전용면적별세대수                      2625 non-null   int64
 9   공가수                           2625 non-null   float64
 10  자격유형                          2625 non-null   object
 11  임대보증금                         2340 non-null   float64
 12  임대료                           2625 non-null   float64
 13  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2477 non-null   float64
 14  도보 10분거리 내 버스정류장 수            2621 non-null   float64
 15  단지내주차면수                       2625 non-null   float64
 16  등록차량수                         2625 non-null   float64
dtypes: float64(8), int64(4), object(5)
memory usage: 348.8+ KB

In [12]:
cols = ['임대보증금','도보 10분거리 내 지하철역 수(환승노선 수 반영)','도보 10분거리 내 버스정류장 수']
train[cols] = train[cols].fillna(0)

In [14]:
train.isnull().sum() # 결측치 다채웠다!

Unnamed: 0.1                    0
Unnamed: 0                      0
단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            0
임대보증금                           0
임대료                             0
도보 10분거리 내 지하철역 수(환승노선 수 반영)    0
도보 10분거리 내 버스정류장 수              0
단지내주차면수                         0
등록차량수                           0
dtype: int64

In [15]:
error_data = ['C1925', 'C1312', 'C2013', 'C1424', 'C2520', 'C2319', 'C1850', 'C1068', 'C2644', 'C2156', 'C2453', 'C1910', 'C2139', 'C2508', 'C1695', 'C2556', 'C2362', 'C2568', 'C2245', 'C2549', 'C1584', 'C2298', 'C2225', 'C1218', 'C1970', 'C1732', 'C2433', 'C1894', 'C1156', 'C2142', 'C2186', 'C2411', 'C1812', 'C1030', 'C1749', 'C1349', 'C2043', 'C1229', 'C2363', 'C1414', 'C2174', 'C2404', 'C1683', 'C1038', 'C2456', 'C1266', 'C1267', 'C2189']

In [16]:
for error in error_data :
    train = train[train['단지코드'] != error]

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2461 entries, 0 to 2624
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0.1                  2461 non-null   int64
 1   Unnamed: 0                    2461 non-null   int64
 2   단지코드                          2461 non-null   object
 3   총세대수                          2461 non-null   int64
 4   임대건물구분                        2461 non-null   object
 5   지역                            2461 non-null   object
 6   공급유형                          2461 non-null   object
 7   전용면적                          2461 non-null   float64
 8   전용면적별세대수                      2461 non-null   int64
 9   공가수                           2461 non-null   float64
 10  자격유형                          2461 non-null   object
 11  임대보증금                         2461 non-null   float64
 12  임대료                           2461 non-null   float64
 13  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2461 non-null   float64
 14  도보 10분거리 내 버스정류장 수            2461 non-null   float64
 15  단지내주차면수                       2461 non-null   float64
 16  등록차량수                         2461 non-null   float64
dtypes: float64(8), int64(4), object(5)
memory usage: 346.1+ KB

In [18]:
train.to_csv('train_final.csv')
# 오류 단지코드 제거
# 임대보증금/임대료 채우기
# 버스정류장/지하철역은 결측치 전부 0으로 채움
# 중복데이터 제거